@media (min-width: 768px){
    .trustbar {
        padding-bottom: 64px;
    }}
    .trustbar {
        padding-bottom: 56px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        padding: 0 15px;
    }
    @media (min-width: 576px){
    .mt-sm-6 {
        margin-top: 5rem!important;
    }}
    .container-mw-lg {
        max-width: 1228px!important;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }
    .home-page .homepage-carousel {
        padding: 16px 20px;
    }
    .carousel {
        padding: 12px 0;
    }
    .carousel, .carousel-item {
        position: relative;
    }
    .d-flex {
        display: flex!important;
    }
    .carousel-button-wrapper.back {
        left: -23px;
    }
    .carousel-button-wrapper {
        bottom: 0;
        position: absolute;
        top: 0;
        width: 44px;
    }
    .align-items-center {
        align-items: center!important;
    }
    .justify-content-center {
        justify-content: center!important;
    }
    .d-flex {
        display: flex!important;
    }
    .carousel-arrow:disabled {
        cursor: default;
        opacity: 0;
    }
    .btn.disabled, .btn:disabled {
        opacity: .4;
    }
    .carousel-arrow {
        align-items: center;
        background: #fbfaf9;
        border-radius: 50%;
        color: #00262b;
        display: flex!important;
        height: 44px!important;
        justify-content: center;
        padding: 0;
        width: 44px!important;
    }
    .btn {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-user-select: text;
        user-select: text;
    }
    .btn, .btn-link, .btn-link.hover, .btn-link:hover {
        text-decoration: none;
    }
    .btn {
        align-items: center;
        background-color: #0000;
        border: 1px solid #0000;
        border-radius: 0;
        color: #454545;
        display: inline-flex;
        font-size: 1.125rem;
        font-weight: 500;
        justify-content: center;
        line-height: 1.33334;
        padding: 0.5625rem 1rem;
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        vertical-align: middle;
    }
    @media (min-width: 576px){
    .d-sm-inline-block {
        display: inline-block!important;
    }}
    .d-none {
        display: none!important;
    }
    
    .buttonBack___1mlaL, .buttonFirst___2rhFr, .buttonLast___2yuh0, .buttonNext___2mOCa, .buttonNext___3Lm3s, .dot___3c3SI {
        cursor: pointer;
    }
    button, select {
        text-transform: none;
    }
    button, input {
        overflow: visible;
    }
    button, input, optgroup, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
    }
    button {
        border-radius: 0;
    }
    .carousel-button-wrapper .carousel-button-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
    .pgn__icon {
        display: block;
        flex-shrink: 0;
        height: 1.5rem;
        position: relative;
        width: 1.5rem;
    }
    .pgn__icon svg {
        display: block;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }
    svg {
        overflow: hidden;
    }
    img, svg {
        vertical-align: middle;
    }
    .sr-only {
        clip: rect(0,0,0,0);
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    @media (min-width: 576px){
    .trustbar .carousel-slider, .trustbar .carousel-slider .carousel-slide {
        height: 112.11px;
    }}
    .trustbar .carousel-slider {
        height: 118.92px;
        width: 100%;
    }
    .carousel-slider {
        width: 100%;
    }
    .horizontalSlider___281Ls {
        overflow: hidden;
        position: relative;
        touch-action: pan-y pinch-zoom;
    }
    .sliderAnimation___300FY {
        transition: transform .5s;
        transition-timing-function: cubic-bezier(.645,.045,.355,1);
        will-change: transform;
    }
    .sliderTray___-vHFQ {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @media (min-width: 576px){
    .trustbar .carousel-slider, .trustbar .carousel-slider .carousel-slide {
        height: 112.11px;
    }}
    .trustbar .carousel-slider .carousel-slide {
        height: 118.92px;
    }
    .d-inline-block {
        display: inline-block!important;
    }
    .slideHorizontal___1NzNV {
        float: left;
    }
    .slide___3-Nqo {
        box-sizing: border-box;
        display: block;
        height: 0;
        list-style-type: none;
        margin: 0;
        position: relative;
    }
    a {
        background-color: #0000;
        color: #00688d;
        text-decoration: none;
    }
    [class*=slideInner] {
        display: flex;
        padding: 4px;
    }
    .slideInner___2mfX9 {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .slide-image {
        max-width: 95%;
    }
    .m-auto {
        margin: auto!important;
    }
    img {
        max-width: 100%;
    }
    img, svg {
        vertical-align: middle;
    }
    img {
        border-style: none;
    }
    @media (min-width: 576px){
    .trustbar .carousel-slider, .trustbar .carousel-slider .carousel-slide {
        height: 112.11px;
    }}
    .trustbar .carousel-slider .carousel-slide {
        height: 118.92px;
    }
    .d-inline-block {
        display: inline-block!important;
    }
    .slideHorizontal___1NzNV {
        float: left;
    }
    .slide___3-Nqo {
        box-sizing: border-box;
        display: block;
        height: 0;
        list-style-type: none;
        margin: 0;
        position: relative;
    }
    a {
        background-color: #0000;
        color: #00688d;
        text-decoration: none;
    }
    
    
    @media (min-width: 576px){
    .trustbar .carousel-slider, .trustbar .carousel-slider .carousel-slide {
        height: 112.11px;
    }}
    .trustbar .carousel-slider .carousel-slide {
        height: 118.92px;
    }
    .d-inline-block {
        display: inline-block!important;
    }
    .slideHorizontal___1NzNV {
        float: left;
    }
    .slide___3-Nqo {
        box-sizing: border-box;
        display: block;
        height: 0;
        list-style-type: none;
        margin: 0;
        position: relative;
    }
    a {
        background-color: #0000;
        color: #00688d;
        text-decoration: none;
    }
    [class*=slideInner] {
        display: flex;
        padding: 4px;
    }
    .slideInner___2mfX9 {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    @media (min-width: 576px){
    .trustbar .carousel-button-wrapper.next {
        display: inherit!important;
    }}
    .trustbar .carousel-button-wrapper.next {
        display: none!important;
    }
    .carousel-button-wrapper.next {
        right: -23px;
    }
    .carousel-button-wrapper {
        bottom: 0;
        position: absolute;
        top: 0;
        width: 44px;
    }
    .align-items-center {
        align-items: center!important;
    }
    .justify-content-center {
        justify-content: center!important;
    }
    .d-flex {
        display: flex!important;
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
    }
    .carousel-arrow {
        align-items: center;
        background: #fbfaf9;
        border-radius: 50%;
        color: #00262b;
        display: flex!important;
        height: 44px!important;
        justify-content: center;
        padding: 0;
        width: 44px!important;
    }
    .btn {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-user-select: text;
        user-select: text;
    }
    .btn, .btn-link, .btn-link.hover, .btn-link:hover {
        text-decoration: none;
    }
    .btn {
        align-items: center;
        background-color: #0000;
        border: 1px solid #0000;
        border-radius: 0;
        color: #454545;
        display: inline-flex;
        font-size: 1.125rem;
        font-weight: 500;
        justify-content: center;
        line-height: 1.33334;
        padding: 0.5625rem 1rem;
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        vertical-align: middle;
    }
    @media (min-width: 576px){
    .d-sm-inline-block {
        display: inline-block!important;
    }}
    .d-none {
        display: none!important;
    }
    [type=button], [type=reset], [type=submit], button {
        -webkit-appearance: button;
    }
    .buttonBack___1mlaL, .buttonFirst___2rhFr, .buttonLast___2yuh0, .buttonNext___2mOCa, .buttonNext___3Lm3s, .dot___3c3SI {
        cursor: pointer;
    }
    button, select {
        text-transform: none;
    }
    button, input {
        overflow: visible;
    }
    button, input, optgroup, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
    }
    button {
        border-radius: 0;
    }
    .carousel-button-wrapper .carousel-button-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
    .pgn__icon {
        display: block;
        flex-shrink: 0;
        height: 1.5rem;
        position: relative;
        width: 1.5rem;
    }
    .pgn__icon svg {
        display: block;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }
    svg {
        overflow: hidden;
    }
    img, svg {
        vertical-align: middle;
    }
    .sr-only {
        clip: rect(0,0,0,0);
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    
@media (min-width: 576px){
    .trustbar .carousel-slider, .trustbar .carousel-slider .carousel-slide {
        height: 112.11px;
    }}
    .trustbar .carousel-slider .carousel-slide {
        height: 118.92px;
    }
    .d-inline-block {
        display: inline-block!important;
    }
    .slideHorizontal___1NzNV {
        float: left;
    }
    .slide___3-Nqo {
        box-sizing: border-box;
        display: block;
        height: 0;
        list-style-type: none;
        margin: 0;
        position: relative;
    }
    a {
        background-color: #0000;
        color: #00688d;
        text-decoration: none;
    }
    [class*=slideInner] {
        display: flex;
        padding: 4px;
    }
    .slideInner___2mfX9 {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .slide-image {
        max-width: 95%;
    }
    .m-auto {
        margin: auto!important;
    }
    img {
        max-width: 100%;
    }
    img, svg {
        vertical-align: middle;
    }
    img {
        border-style: none;
    }
    @media (min-width: 576px){
.trustbar .carousel-slider, .trustbar .carousel-slider .carousel-slide {
    height: 112.11px;
}}
.trustbar .carousel-slider .carousel-slide {
    height: 118.92px;
}
.d-inline-block {
    display: inline-block!important;
}
.slideHorizontal___1NzNV {
    float: left;
}
.slide___3-Nqo {
    box-sizing: border-box;
    display: block;
    height: 0;
    list-style-type: none;
    margin: 0;
    position: relative;
}
a {
    background-color: #0000;
    color: #00688d;
    text-decoration: none;
}
[class*=slideInner] {
    display: flex;
    padding: 4px;
}
.slideInner___2mfX9 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.slide-image {
    max-width: 95%;
}
.m-auto {
    margin: auto!important;
}
img {
    max-width: 100%;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

.learns{
    display: flex;

flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: "Inter";
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 30px;
padding: 12px 0 0 4px;
}

.more{
    width: 192px;
height: 54px;
flex-shrink: 0;

background: #FFC107;
}