
     @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"); */

   
     /* .typography{
      color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    .typography2{
      color: #1D79C2;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-decoration:underline;
    }
    
    
      */
    * {
      
        overscroll-behavior: none;
        font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
    } 
    @media only screen and (max-width: 70.95em){
    .css-te3fh4-SectionWrapper {
        margin-top: 96px;
    }}
    .css-te3fh4-SectionWrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        grid-column: span 24;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-top: 160px;
        -webkit-align-items: center;
        /* -webkit-box-align: center; */
        -ms-flex-align: center;
        align-items: center;
    }
    .css-1xzhf9o-Label {
        margin: 0;
        color: #3C4852;
        font-size: 40px;
        line-height: 120%;
        color: var(--color-i-black);
        font-weight: bold;
    }
    .h2_variant {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.01em;
    }
    .css-1w3bdtt-SecLabel {
        margin: 0;
        color: #3C4852;
        margin-top: 16px;
        font-size: 20px;
        font-weight: normal;
        width: 364px;
    }
    .h3_variant {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.005em;
    }
    .css-cdl1hr-Link {
        color: var(--color-text-primary);
        line-height: 150%;
        font-size: 12px;
        font-weight: normal;
    }
    
    a {
        background-color: transparent;
    }
    .css-160bjjb-LearningButton-Learning {
        padding: 14px 32px;
        box-sizing: border-box;
        border-radius: 8px;
        background: #08BD80;
        border: 1px solid #08BD80;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 20px;
        font-weight: 700;
        min-width: 100px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        height: 48px;
        cursor: pointer;
        margin-top: 48px;
        display: inline-block;
        font-size: 20px;
        padding: 20px 32px;
        height: auto;
    }
    @media only screen and (max-width: 70.95em){
    .css-1bk9s6h-StatsContainer {
        height: auto;
    }
    }
    .css-1bk9s6h-StatsContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 586px;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .css-14h8cqt-Left {
        display: grid;
        grid-template: repeat(3,1fr)/1fr;
        grid-row-gap: 24px;
    }
     @media only screen and (max-width: 70.95em){
    .css-1fuyrwz-CardWrapper {
        width: 201px;
        height: 100px;
    }}
    .css-1fuyrwz-CardWrapper {
        background: var(--color-i-white);
        border-radius: 8px;
        box-shadow: 0px 16px 32px 0px var(--color-shadow);
        width: 284px;
        height: 180px;
        position: relative;
        overflow: hidden;
        z-index: 0;
    } */
    .css-gytqqx-Left {
        padding-left: 24px;
        padding-top: 24px;
       
        display: flex;
        
        flex-direction: column;
        z-index: 2;
    }
    @media only screen and (max-width: 70.95em){
    .css-16zmcy3-SecText {
        font-size: 14px;
    }}
    .css-16zmcy3-SecText {
        font-size: 20px;
        line-height: 150%;
        color: var(--color-i-black);
        margin-bottom: 8px;
    }
    .css-1r6zuyg-Row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    @media only screen and (max-width: 70.95em){
    .css-1yb456-Label {
        font-size: 18px;
    }}
    .css-1yb456-Label {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
    }
    @media only screen and (max-width: 70.95em){
    .css-9c73z1-Label-GreenLabel {
        font-size: 18px;
    }}
    .css-9c73z1-Label-GreenLabel {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
        color: var(--color-i-green);
    }
    .css-ds2g6j-CardImageWrapper {
        position: absolute;
        right: 0;
        bottom: -7.5px;
        z-index: 1;
    }
    @media only screen and (max-width: 70.95em){
    .css-ihqmaw-StyledNextImage-CardImage {
        width: 175px;
        height: 120px;
        object-fit: contain;
    }}
    .css-ihqmaw-StyledNextImage-CardImage {
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    img {
        border-style: none;
    }
    @media only screen and (max-width: 70.95em){
    .css-1fuyrwz-CardWrapper {
        width: 201px;
        height: 100px;
    }}
    .css-1fuyrwz-CardWrapper {
        background: var(--color-i-white);
        border-radius: 8px;
        box-shadow: 0px 16px 32px 0px var(--color-shadow);
        width: 284px;
        height: 180px;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    .css-gytqqx-Left {
        padding-left: 24px;
        padding-top: 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 2;
    }
    @media only screen and (max-width: 70.95em){
    .css-16zmcy3-SecText {
        font-size: 14px;
    }}
    .css-16zmcy3-SecText {
        font-size: 20px;
        line-height: 150%;
        color: var(--color-i-black);
        margin-bottom: 8px;
    }
    .css-1r6zuyg-Row {
        
        display: flex;
    }
    @media only screen and (max-width: 70.95em){
    .css-1yb456-Label {
        font-size: 18px;
    }}
    .css-1yb456-Label {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
    }
    @media only screen and (max-width: 70.95em){
    .css-9c73z1-Label-GreenLabel {
        font-size: 18px;
    }}
    .css-9c73z1-Label-GreenLabel {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
        color: var(--color-i-green);
    }
    .css-ds2g6j-CardImageWrapper {
        position: absolute;
        right: 0;
        bottom: -7.5px;
        z-index: 1;
    }
    @media only screen and (max-width: 70.95em){
    .css-ihqmaw-StyledNextImage-CardImage {
        width: 175px;
        height: 120px;
        object-fit: contain;
    }}
    .css-ihqmaw-StyledNextImage-CardImage {
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    img {
        border-style: none;
    }
    @media only screen and (max-width: 70.95em){
    .css-1fuyrwz-CardWrapper {
        width: 201px;
        height: 100px;
    }}
    .css-1fuyrwz-CardWrapper {
        background: var(--color-i-white);
        border-radius: 8px;
        box-shadow: 0px 16px 32px 0px var(--color-shadow);
        width: 284px;
        height: 180px;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    .css-gytqqx-Left {
        padding-left: 24px;
        padding-top: 24px;
        
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 2;
    }
    @media only screen and (max-width: 70.95em){
    .css-16zmcy3-SecText {
        font-size: 14px;
    }}
    .css-16zmcy3-SecText {
        font-size: 20px;
        line-height: 150%;
        color: var(--color-i-black);
        margin-bottom: 8px;
    }
    .css-1r6zuyg-Row {
       
        display: flex;
    }
    @media only screen and (max-width: 70.95em){
    .css-1yb456-Label {
        font-size: 18px;
    }}
    .css-1yb456-Label {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
    }
    @media only screen and (max-width: 70.95em){
    .css-9c73z1-Label-GreenLabel {
        font-size: 18px;
    }}
    .css-9c73z1-Label-GreenLabel {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
        color: var(--color-i-green);
    }
    .css-ds2g6j-CardImageWrapper {
        position: absolute;
        right: 0;
        bottom: -7.5px;
        z-index: 1;
    }
    @media only screen and (max-width: 70.95em){
    .css-ihqmaw-StyledNextImage-CardImage {
        width: 175px;
        height: 120px;
        object-fit: contain;
    }}
    .css-ihqmaw-StyledNextImage-CardImage {
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    img {
        border-style: none;
    }
    .css-1xkc73q-Left-Right {
        display: grid;
        grid-template: repeat(2,1fr)/1fr;
        grid-row-gap: 24px;
        padding-left: 24px;
    }
    @media only screen and (max-width: 70.95em){
    .css-1fuyrwz-CardWrapper {
        width: 201px;
        height: 100px;
    }}
    .css-1fuyrwz-CardWrapper {
        background: var(--color-i-white);
        border-radius: 8px;
        box-shadow: 0px 16px 32px 0px var(--color-shadow);
        width: 284px;
        height: 180px;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    .css-gytqqx-Left {
        padding-left: 24px;
        padding-top: 24px;
       
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 2;
    }
    .css-16zmcy3-SecText {
        font-size: 20px;
        line-height: 150%;
        color: var(--color-i-black);
        margin-bottom: 8px;
    }
    .css-1r6zuyg-Row {
       
        display: flex;
    }
    @media only screen and (max-width: 70.95em){
    .css-1yb456-Label {
        font-size: 18px;
    }}
    .css-1yb456-Label {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
    }
    @media only screen and (max-width: 70.95em){
    .css-9c73z1-Label-GreenLabel {
        font-size: 18px;
    }}
    .css-9c73z1-Label-GreenLabel {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
        color: var(--color-i-green);
    }
    .css-ds2g6j-CardImageWrapper {
        position: absolute;
        right: 0;
        bottom: -7.5px;
        z-index: 1;
    }
    @media only screen and (max-width: 70.95em){
    .css-ihqmaw-StyledNextImage-CardImage {
        width: 175px;
        height: 120px;
        object-fit: contain;
    }}
    .css-ihqmaw-StyledNextImage-CardImage {
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    img {
        border-style: none;
    }
    @media only screen and (max-width: 70.95em){
    .css-1fuyrwz-CardWrapper {
        width: 201px;
        height: 100px;
    }}
    .css-1fuyrwz-CardWrapper {
        background: var(--color-i-white);
        border-radius: 8px;
        box-shadow: 0px 16px 32px 0px var(--color-shadow);
        width: 284px;
        height: 180px;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    .css-gytqqx-Left {
        padding-left: 24px;
        padding-top: 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 2;
    }
    @media only screen and (max-width: 70.95em){
    .css-16zmcy3-SecText {
        font-size: 14px;
    }}
    .css-16zmcy3-SecText {
        font-size: 20px;
        line-height: 150%;
        color: var(--color-i-black);
        margin-bottom: 8px;
    }
    .css-1r6zuyg-Row {
        
        display: flex;
    }
    @media only screen and (max-width: 70.95em){
    .css-1yb456-Label {
        font-size: 18px;
    }}
    .css-1yb456-Label {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
    }
    @media only screen and (max-width: 70.95em){
    .css-9c73z1-Label-GreenLabel {
        font-size: 18px;
    }}
    .css-9c73z1-Label-GreenLabel {
        font-size: 40px;
        font-weight: bold;
        color: var(--color-i-black);
        line-height: 120%;
        color: var(--color-i-green);
    }
    .css-ds2g6j-CardImageWrapper {
        position: absolute;
        right: 0;
        bottom: -7.5px;
        z-index: 1;
    }
    @media only screen and (max-width: 70.95em){
    .css-ihqmaw-StyledNextImage-CardImage {
        width: 175px;
        height: 120px;
        object-fit: contain;
    }}
    .css-ihqmaw-StyledNextImage-CardImage {
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    img {
        border-style: none;
    }

    * {
      letter-spacing: .0125rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 0;
      margin: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      font-weight: 400;
      outline: none
    }

    body,
    html {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      overflow-x: hidden;
      height: 100vh
    }

    ::-moz-placeholder {
      font-family: FuturaPT, sans-serif
    }

    :-ms-input-placeholder {
      font-family: FuturaPT, sans-serif
    }

    ::placeholder,
    body,
    input,
    select {
      font-family: FuturaPT, sans-serif
    }

   

    .section-heading {
        text-align: center;
        margin-bottom: 40px;
        padding: 0
      }
  
      .img-responsive {
        max-width: 100%
      }
  
      .login {
        color: #000
      }
  
      .text-center {
        text-align: center
      }
  
      .text-upper {
        text-transform: uppercase
      }
  
      .global-icon {
          background-size: 2144px 1208px
      }
  
      .hideoverflow-image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0
      }
  
      

    


    @media only screen and (max-width:48rem) {
      .login_btn {
        height: 40px;
        padding: 0 10px;
        font-weight: 16px
      }
    }

    @media only screen and (max-width:48rem) {

      .buy_btn,
      .login_btn {
        width: 100px
      }
    }

    .book_math_trial_btn,
    .book_trial_btn {
      position: relative;
      overflow: hidden;
      width: 17rem;
      height: 51px;
      font-family: FuturaPTBold, sans-serif;
      justify-content: center;
      border: none;
      padding: 5px 12px
    }

    @media only screen and (max-width:48rem) {

      .book_math_trial_btn,
      .book_trial_btn {
        width: 150px;
        height: 41px;
        font-size: 12px
      }
    }

    .book_math_trial_btn svg,
    .book_trial_btn svg {
      margin-right: 8px
    }

    .button-group {
      display: inline-flex
    }

    .button-group .view_superstar,
    .view_live_comment {
      margin-right: 15px
    }

    .view_live_comment button {
      padding: 0 5px;
      min-width: 250px
    }

    @media only screen and (max-width:48rem) {
      .view_live_comment button {
        min-width: 180px;
        padding: 0 5px
      }
    }

    .view_live_comment img {
      width: 24px;
      margin: 0
    }

    .view_superstar_btn {
      width: 100%;
      height: 50px;
      font-size: 18px;
      padding: 0 35px;
      font-family: FuturaPTBold, sans-serif;
      display: flex;
      align-items: center;
      color: #3f13a9;
      border: 1px solid #3f13a9;
      text-align: center;
      display: inline-flex;
      background: #fff;
      font-weight: 600
    }

    @media only screen and (max-width:48rem) {
      .view_superstar_btn {
        min-width: 180px;
        height: 41px;
        font-size: 14px;
        padding: 0 7px
      }
    }

    .view_superstar_btn svg {
      margin-right: 8px
    }

    .curriculum_btn {
      width: 200px;
      position: relative;
      z-index: 1
    }

    @media only screen and (max-width:48rem) {
      .curriculum_btn {
        width: 170px
      }
    }

    .curriculum_btn:hover {
      box-shadow: none;
      color: inherit
    }

    .fifa-slider .slider {
      display: flex;
      cursor: default;
      transition: all .5s
    }

    .fifa-slider .slider .slide {
      flex: 1 0 100%;
      position: relative
    }

    .fifa-slider .slider .slide .banner-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: 100% 100%
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image {
      max-width: 90vw;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      display: flex;
      justify-content: center;
      align-items: center
    }

    @media only screen and (min-width:768px) and (max-width:1023px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image {
        max-width: 95vw
      }
    }

    @media only screen and (min-width:1024px) and (max-width:1200px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image {
        max-width: 97vw
      }
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .banner-img-1 {
      max-width: 53px;
      padding-bottom: 20px;
      opacity: .8
    }

    @media only screen and (max-width:1024px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .banner-img-1 {
        max-width: 44px
      }
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .header-text {
      font-style: italic;
      font-weight: 700;
      font-size: 26px;
      color: #fff;
      font-family: Poppins, sans-serif;
      line-height: 29px;
      padding: 10px
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .header-text h1 {
      font-family: Poppins, sans-serif;
      font-size: 26px;
      line-height: 29px;
      display: flex;
      flex-direction: column;
      text-align: unset
    }

    @media only screen and (max-width:899px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .header-text h1 {
        font-size: 12px;
        line-height: 16px
      }
    }

    @media only screen and (min-width:901px) and (max-width:1200px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .header-text h1 {
        font-size: 20px;
        line-height: 22px
      }
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .banner-img-2 {
      max-width: 69px;
      padding-top: 10px;
      opacity: .5
    }

    @media only screen and (max-width:1024px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .banner-img-2 {
        max-width: 52px
      }
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .codingcup-img {
      width: 203px;
      height: 52px
    }

    @media only screen and (min-width:768px) and (max-width:1024px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .codingcup-img {
        width: 160px;
        height: 46px
      }
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .mathcup-img {
      width: 203px;
      height: 52px
    }

    @media only screen and (min-width:768px) and (max-width:1024px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .mathcup-img {
        width: 160px;
        height: 46px
      }
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .start-now-button button {
      box-sizing: border-box;
      background: rgba(239, 235, 255, .1);
      border: 1px solid #fff;
      -webkit-backdrop-filter: blur(7px);
      backdrop-filter: blur(7px);
      border-radius: 13px;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      min-width: 260px;
      min-height: 55px;
      color: #fff;
      padding: 5px 10px;
      cursor: pointer
    }

    @media only screen and (max-width:959px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .start-now-button button {
        min-width: 160px;
        min-height: 42px;
        font-size: 20px;
        line-height: 24px
      }
    }

    @media only screen and (min-width:960px) and (max-width:1024px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .start-now-button button {
        min-width: 180px;
        min-height: 46px;
        font-size: 22px;
        line-height: 26px
      }
    }

    @media only screen and (min-width:1025px) and (max-width:1300px) {
      .fifa-slider .slider .slide .banner-wrapper .banner-container-image .codingcup-container .start-now-button button {
        min-width: 200px;
        min-height: 50px;
        font-size: 26px;
        line-height: 30px
      }
    }

    .fifa-slider .slider .slide .banner-wrapper .banner-container-image .banner-img-3 {
      width: 16px;
      position: absolute;
      right: 0;
      right: 1.63%;
      top: 15%
    }

    .fifa-slider .slider .slide .codingcup-banner-wrapper {
      background-color: #1e4acf
    }

    .fifa-slider .slider .slide .mathcup-banner-wrapper {
      background-color: #6d3597
    }

    

    .fifa-slider .slider-indicator {
      display: block;
      text-align: center;
      padding: 5px
    }

    .fifa-slider .slider-indicator .indicator {
      cursor: pointer;
      display: inline-block;
      height: 10px;
      width: 10px;
      margin: 0 6px;
      background-color: #c4c4c4;
      border: 1px solid #c4c4c4;
      border-radius: 10px;
      transition: .5s ease
    }

    .fifa-slider .slider-indicator .is-active {
      width: 30px;
      border: 1px solid #813589;
      background-color: #813589
    }

    .hero-banner-bfs {
      margin-bottom: 160px;
      font-family: FuturaPT;
      position: relative
    }

    .hero-banner-bfs .hero-banner {
      display: block;
      padding-top: 48px;
      max-width: 80%;
      margin: auto
    }

    @media only screen and (min-device-width:1024px) and (max-device-width:1400px) {
      .hero-banner-bfs .hero-banner {
        padding-top: 10px
      }
    }

    .hero-banner-bfs .abtest {
      display: none
    }

   
    .top-section,
    .top-section.BR,
    .top-section.PT {
      background-repeat: no-repeat;
      background-size: 100% 100%
    }

 
    .top-section.BR .stat-subTitle,
    .top-section.BR .stat-title,
    .top-section.BR h1.text,
    .top-section.PT .stat-subTitle,
    .top-section.PT .stat-title,
    .top-section.PT h1.text {
      color: #fff !important
    }

    .banner-content {
      width: 50%;
      max-width: 600px;
      padding: 30px 0 80px
    }

    .banner-content .text {
      font-size: 48px;
      font-weight: 700;
      color: #191919
    }

    .banner-content .text.BR,
    .banner-content .text.PT {
      color: #fff !important
    }

    .banner-content .subtext {
      margin-top: 12px;
      font-size: 20px;
      color: #5a7184
    }

    .course-cards {
      display: flex;
      margin-top: 32px
    }

    .course-cards .coding-card {
      border-radius: 18px;
      background-color: #ffebd7;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 250px
    }

    @media only screen and (min-device-width:900px) and (max-device-width:1230px) {
      .course-cards .coding-card {
        max-width: 200px
      }
    }

    .course-cards .math-card {
      border-radius: 18px;
      background-color: #f3e4ff;
      margin-left: 24px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 250px
    }

    @media only screen and (min-device-width:900px) and (max-device-width:1230px) {
      .course-cards .math-card {
        max-width: 200px
      }
    }

    .course-cards .card-content,
    .course-cards .icon-container {
      display: flex;
      align-items: center
    }

    .course-cards .icon-container {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      justify-content: center;
      border-radius: 12px;
      margin-right: 12px;
      background: #fff;
      box-shadow: inset 0 4px 10px hsla(0, 0%, 100%, .25), inset 0 -3px 4px rgba(0, 0, 0, .21)
    }

    .course-cards .card-text {
      font-size: 20px;
      font-weight: 400;
      line-height: normal
    }

    .course-cards .card-btn {
      background-color: #d34a6d;
      border: none;
      border-radius: 60px;
      cursor: pointer;
      margin-top: 16px
    }

    .course-cards .btn-front {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      font-family: FuturaPTBold;
      display: block;
      padding: 12px 32px;
      border-radius: 60px;
      background-color: #ef5b81;
      transform: translateY(-5px);
      transition: transform .6s cubic-bezier(.3, .7, .4, 1)
    }

    .course-cards .card-btn:hover .btn-front {
      transform: translateY(-6px);
      transition: transform .25s cubic-bezier(.3, .7, .4, 1.5)
    }

    .course-cards .card-btn:active .btn-front {
      transform: translateY(-2px);
      transition: transform 35ms
    }

    .user-stat {
      display: flex;
      margin-top: 24px
    }

    .user-stat .stat-card {
      display: flex;
      align-items: center
    }

    .user-stat .stat-card.user-card {
      margin-left: 120px
    }

    @media only screen and (min-device-width:1024px) and (max-device-width:1400px) {
      .user-stat .stat-card.user-card {
        margin-left: 70px
      }
    }

    @media only screen and (max-device-width:1023px) {
      .user-stat .stat-card.user-card {
        margin-left: 30px
      }
    }

    .user-stat .stat-icon {
      width: 48px;
      height: 48px;
      margin-right: 12px
    }

    .user-stat .stat-title {
      color: #5a7184;
      font-size: 36px;
      font-weight: bolder;
      text-shadow: 0 1px, 1px 0, 1px 1px
    }

    .user-stat .stat-subTitle {
      margin-top: 6px;
      color: #5a7184;
      font-size: 18px;
      font-weight: 400
    }

    .banner-image {
      position: absolute;
      bottom: 0;
      right: 20px;
      z-index: -1;
      max-width: 700px
    }

    @media only screen and (max-device-width:1384px) {
      .banner-image {
        max-width: 600px;
        right: -75px
      }
    }

    .pseudo-banner-image {
      position: absolute;
      bottom: 0;
      right: -15px;
      z-index: -1;
      max-width: 820px
    }

    @media only screen and (max-device-width:1600px) {
      .pseudo-banner-image {
        max-width: 800px;
        right: -55px
      }
    }

    @media only screen and (max-device-width:1400px) {
      .pseudo-banner-image {
        max-width: 746px;
        right: -100px
      }
    }

    .hero-image {
      width: 100%
    }

    .video-banner-section {
      margin-top: -50px;
      max-width: 1160px;
      margin-left: auto;
      margin-right: auto;
      position: relative
    }

    @media only screen and (min-device-width:768px) and (max-device-width:1024px) {
      .video-banner-section {
        max-width: 850px
      }
    }

    @media only screen and (min-device-width:1025px) and (max-device-width:1200px) {
      .video-banner-section {
        max-width: 950px
      }
    }

    .banner-overlay {
      width: 105%;
      margin-left: -32px;
      height: 100%;
      position: absolute;
      background-color: #ff8fac;
      border-radius: 40px;
      transform: rotate(-3deg);
      z-index: 5
    }

    .banner-front {
      position: relative;
      z-index: 10;
      height: 272px;
      border-radius: 30px;
      padding: 24px;
      background: linear-gradient(112.51deg, #b56fcd 35.35%, #7c3bab 90.66%);
      box-shadow: 0 7px 39px rgba(0, 0, 0, .09)
    }

    .banner-front,
    .video-preview {
      display: flex;
      align-items: center
    }

    .video-preview {
      width: 40%;
      height: 100%;
      justify-content: center;
      border-radius: 12px;
       background-size: cover;
      background-repeat: no-repeat
    }

 
    .video-preview .play-button {
      background-color: #fff;
      border: 0 solid #ffdfe7;
      border-radius: 9999px;
      cursor: pointer;
      transition: border-width .3s ease
    }

    .video-preview .play-button:hover {
      border: 2px solid #ffdfe7
    }

    .video-preview img {
      width: 100%
    }

    .video-banner-content {
      margin-left: 32px;
      flex: 1 1 0%;
      padding-right: 12px
    }

    .video-banner-content .banner-title {
      color: #fff
    }

    .video-banner-content .banner-text {
      margin-top: 12px;
      color: #fff;
      font-size: 18px;
      font-weight: 400
    }

    .video-banner-content .banner-text b {
      font-weight: 700
    }

    .video-banner-content .banner-subtext {
      margin-top: 12px;
      color: #fff;
      font-size: 18px;
      font-weight: 700
    }

    .btn-overlay {
      background-color: #d6d6d6;
      border: none;
      border-radius: 60px;
      margin-top: 20px;
      cursor: pointer;
      width: auto;
      height: auto
    }

    .btn-front {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #ef5b81;
      border-radius: 60px;
      fill: currentColor;
      padding: 16px 32px;
      transform: translateY(-6px);
      font-size: 18px;
      font-weight: 700;
      transition: transform .6s cubic-bezier(.3, .7, .4, 1)
    }

    .btn-overlay:hover .btn-front {
      transform: translateY(-8px);
      transition: transform .25s cubic-bezier(.3, .7, .4, 1.5)
    }

    .btn-overlay:active .btn-front {
      transform: translateY(-2px);
      transition: transform 35ms
    }

    .spiral-image {
      position: absolute;
      z-index: 15;
      bottom: 0;
      right: 20px;
      transform: translateY(70%)
    }

    .btn-spot {
      font-size: 16px;
      line-height: 21px;
      color: #5a7184;
      margin: 20px 16px 0
    }

    .m-25-0 {
      margin: 25px 0
    }

    .hero-banner .banner-content h1 {
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 20px;
      text-align: left
    }

    @media only screen and (min-device-width:768px) and (max-device-width:1024px) {
      .hero-banner .banner-content h1 {
        font-size: 38px;
        line-height: 48px
      }
    }

    .hero-banner .banner-content .sidebar-overlay-grade {
      height: 276px;
      position: absolute;
      margin-top: -8px;
      background: linear-gradient(90deg, #ff519d, #ff9480);
      border-radius: 30px;
      transform: matrix(1, .09, -.09, 1, 0, 1);
      width: 459px
    }

    @media only screen and (min-device-width:768px) and (max-device-width:1024px) {
      .hero-banner .banner-content .sidebar-overlay-grade {
        width: 350px;
        height: 300px
      }
    }

    .hero-banner .banner-content .sidebar-inner-front-grade {
      max-width: 408px;
      background: #fff;
      box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
      border-radius: 8px;
      height: auto;
      padding: 24px;
      position: relative;
      z-index: 10
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-inner-heading-grade {
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #191919;
      margin-bottom: 24px;
      font-family: FuturaPTBold
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table {
      margin: 0 auto;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      border-radius: 6px;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      margin-bottom: 24px
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row {
      display: flex;
      place-content: space-evenly
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row:first-child {
      border-bottom: 1px solid #c4c4c4
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row input {
      display: none;
      overflow: hidden
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row label {
      color: rgba(0, 0, 0, .6);
      font-size: 14px;
      line-height: 1;
      text-align: center;
      transition: all .1s ease-in-out
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row label:hover {
      background-color: #ef5b81;
      color: #fff;
      box-shadow: none
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row label:hover .sidebar-grade-name,
    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row label:hover .sidebar-grade-num {
      color: #fff
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row.top-left-radius:hover {
      border-top-left-radius: 5px
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad,
    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad-us {
      cursor: pointer
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad-us:not(:last-child),
    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad:not(:last-child) {
      border-right: 1px solid #c4c4c4
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad-us .sidebar-grade-name,
    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad .sidebar-grade-name {
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      padding-bottom: 4px;
      color: #959ead
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad-us .sidebar-grade-num,
    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad .sidebar-grade-num {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #5a7184
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad-us .sidebar-grade-num-mx,
    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad .sidebar-grade-num-mx {
      font-size: 12px
    }

    @media only screen and (min-device-width:768px) and (max-device-width:1024px) {

      .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad,
      .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .sidebar-grade-td-pad-us {
        padding: 7px 12px
      }
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .br-grid {
      padding: 7px 10px
    }

    @media only screen and (min-device-width:768px) and (max-device-width:1024px) {
      .hero-banner .banner-content .sidebar-inner-front-grade .sidebar-grade-table .grade-row .br-grid {
        padding: 7px 3px
      }
    }

    .hero-banner .banner-content .sidebar-inner-front-grade .btn-primary {
      width: 100%
    }

    @media only screen and (min-device-width:768px) and (max-device-width:1024px) {
      .hero-banner .banner-content .sidebar-inner-front-grade {
        width: 350px
      }
    }

    .sidebar-grade-td-pad {
      padding: 7px 20px
    }

    .sidebar-grade-td-pad-us {
      padding: 7px 15px
    }

    .hero-illustration-bg {
      width: 100%
    }

    .hero-aus-kid-image-position {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: -5%;
      width: 900px
    }

   
    .banner-card1,
    .banner-card2 {
      width: 238px;
      height: 321px;
      background: #fff;
      border-radius: 20px
    }

    .banner-card2 {
      left: 211px;
      top: 308px
    }

    .hero-kid-image-postion {
      position: absolute;
      z-index: 0;
      width: 59%;
      right: 7%;
      bottom: -3%;
      z-index: -1
    }

    @media only screen and (min-width:92.5625rem) {
      .hero-kid-image-postion {
        width: 55%
      }
    }

    @media only screen and (max-width:68.75rem) {
      .hero-kid-image-postion {
        width: 51%
      }
    }

    @media only screen and (max-width:48rem) {
      .hero-kid-image-postion {
        width: 58%;
        right: 0;
        bottom: -4%
      }
    }

    .hero-kidimage-wrapper {
      position: relative;
      padding-bottom: 59.6%
    }

    .music-image-au {
      padding-bottom: 49% !important
    }

    .hero-section {
      margin-bottom: 75px
    }

    @media only screen and (max-width:48rem) {
      .hero-section {
        margin-bottom: 50px
      }
    }

    .grade-class-banner {
      position: absolute;
      top: 0;
      z-index: 0
    }

    @media only screen and (max-width:120rem) {
      .grade-class-banner img {
        margin: 27% -6% 0
      }
    }

    @media only screen and (max-width:90rem) {
      .grade-class-banner img {
        margin: 27% -4% 0
      }
    }

    @media only screen and (max-width:87.5rem) {
      .grade-class-banner img {
        margin: 27% -4% 0
      }
    }

    @media only screen and (max-width:81.25rem) {
      .grade-class-banner img {
        margin: 35% -4% 0
      }
    }

    @media only screen and (max-width:75rem) {
      .grade-class-banner img {
        margin: 35% -1% 0
      }
    }

    @media only screen and (max-width:68.75rem) {
      .grade-class-banner img {
        margin: 35% -4% 0
      }
    }

    @media only screen and (max-width:48rem) {
      .grade-class-banner img {
        margin: 14% 0 0
      }
    }

    .home-banner-image {
      position: absolute;
      top: 0;
      z-index: 0
    }

    @media only screen and (max-width:120rem) {
      .home-banner-image img {
        margin: 8% -6% 0
      }
    }

    @media only screen and (max-width:90rem) {
      .home-banner-image img {
        margin: 8% -4% 0
      }
    }

    @media only screen and (max-width:87.5rem) {
      .home-banner-image img {
        margin: 16% -4% 0
      }
    }

    @media only screen and (max-width:81.25rem) {
      .home-banner-image img {
        margin: 11% -4% 0
      }
    }

    @media only screen and (max-width:75rem) {
      .home-banner-image img {
        margin: 13% -4% 0
      }
    }

    @media only screen and (max-width:68.75rem) {
      .home-banner-image img {
        margin: 25% -4% 0
      }
    }

    @media only screen and (max-width:48rem) {
      .home-banner-image img {
        margin: 14% 0 0
      }
    }

    .home-banner-image-new {
      top: auto;
      left: auto;
      right: 0;
      bottom: 0
    }

    .home-banner-image-aus {
      position: absolute;
      bottom: 88px;
      z-index: 0
    }

    @media only screen and (max-width:120rem) {
      .home-banner-image-aus img {
        margin: 8% -6% 0
      }
    }

    @media only screen and (max-width:90rem) {
      .home-banner-image-aus img {
        margin: 13% -4% 0
      }
    }

    @media only screen and (max-width:87.5rem) {
      .home-banner-image-aus img {
        margin: 16% -4% 0
      }
    }

    @media only screen and (max-width:81.25rem) {
      .home-banner-image-aus img {
        margin: 11% -4% 0
      }
    }

    @media only screen and (max-width:75rem) {
      .home-banner-image-aus img {
        margin: 13% -4% 0
      }
    }

    @media only screen and (max-width:68.75rem) {
      .home-banner-image-aus img {
        margin: 25% -4% 0
      }
    }

    @media only screen and (max-width:48rem) {
      .home-banner-image-aus img {
        margin: 8% -6% 0
      }
    }

    .hero-email-icon {
      background-position: -103px -65px;
      width: 20px;
      height: 16px;
      display: inline-block;
      position: absolute;
      left: 3%;
      top: 31%
    }

    .home-banner-container {
      position: relative;
      z-index: 1
    }

    .home-banner-container p {
      font-size: 20px;
      line-height: 30px
    }

    @media (max-width:1024px) {
      .home-banner-container {
        width: 96%
      }
    }

    .banner-contents {
      padding: 100px 0
    }

    @media only screen and (max-width:75rem) {
      .banner-contents {
        padding: 70px 1px
      }
    }

    @media only screen and (max-width:81.25rem) {
      .banner-contents {
        padding: 90px 1px
      }
    }

    @media only screen and (max-width:48rem) {
      .banner-contents {
        padding: 40px 20px
      }
    }

    .banner-contents h1 {
      margin-bottom: 20px
    }

    @media only screen and (max-width:48rem) {
      .banner-contents h1 {
        font-size: 26px;
        line-height: normal
      }
    }

    .teacher-frame {
      position: absolute;
      right: 4%;
      top: 52%
    }

    @media only screen and (max-width:120rem) {
      .teacher-frame {
        right: 7%;
        top: 52%
      }
    }

    @media only screen and (max-width:48rem) {
      .teacher-frame {
        right: -5%;
        top: 52%
      }
    }

    @media only screen and (max-width:68.75rem) {
      .teacher-frame img {
        width: 85%
      }
    }

    @media only screen and (max-width:48rem) {
      .teacher-frame img {
        width: 54%;
        right: -3%
      }
    }

    .teacher-frame-aus {
      position: absolute;
      right: 3%;
      top: 24%
    }

    @media only screen and (max-width:120rem) {
      .teacher-frame-aus {
        right: 3%;
        top: 24%
      }
    }

    @media only screen and (max-width:48rem) {
      .teacher-frame-aus {
        right: 3%;
        top: 41%
      }
    }

    @media only screen and (max-width:68.75rem) {
      .teacher-frame-aus img {
        width: 85%
      }
    }

    @media only screen and (max-width:48rem) {
      .teacher-frame-aus img {
        width: 54%;
        right: -3%
      }
    }

    .live-coding-frame {
      position: absolute;
      top: 13%;
      right: 15%
    }

    @media only screen and (max-width:120rem) {
      .live-coding-frame {
        top: 8%;
        right: 14%
      }
    }

    @media only screen and (max-width:48rem) {
      .live-coding-frame {
        top: 8%;
        right: 5%
      }
    }

    .live-coding-frame img {
      width: 100%
    }

    @media only screen and (max-width:75rem) {
      .live-coding-frame img {
        width: 80%
      }
    }

    @media only screen and (max-width:48rem) {
      .live-coding-frame img {
        width: 56%
      }
    }

    .live-coding-frame-aus {
      position: absolute;
      top: 8%;
      right: 23%
    }

    @media only screen and (max-width:120rem) {
      .live-coding-frame-aus {
        top: 8%;
        right: 23%
      }
    }

    @media only screen and (max-width:48rem) {
      .live-coding-frame-aus {
        top: 8%;
        right: 14%
      }
    }

    .live-coding-frame-aus img {
      width: 100%
    }

    @media only screen and (max-width:75rem) {
      .live-coding-frame-aus img {
        width: 80%
      }
    }

    @media only screen and (max-width:48rem) {
      .live-coding-frame-aus img {
        width: 56%
      }
    }

    .live-app-frame {
      position: absolute;
      bottom: 1%;
      z-index: 5
    }

    @media only screen and (max-width:48rem) {
      .live-app-frame {
        margin-left: 17%
      }
    }

    @media only screen and (max-width:48rem) {
      .live-app-frame img {
        width: 65%
      }
    }

    .live-app-frame-aus {
      position: absolute;
      bottom: 1%;
      z-index: 4;
      margin-left: 140px
    }

    @media only screen and (max-width:48rem) {
      .live-app-frame-aus {
        margin-left: 17%
      }
    }

    @media only screen and (max-width:48rem) {
      .live-app-frame-aus img {
        width: 65%
      }
    }

    .live-app-frame-wrapper {
      display: flex;
      align-items: center;
      justify-content: center
    }

    .hero-banner-form {
      position: relative;
      margin-top: 10px;
      padding: 12px 20px 12px 0;
      display: inline-block;
      z-index: 1;
      width: 36%
    }

    @media only screen and (max-width:68.75rem) {
      .hero-banner-form {
        padding: 20px
      }
    }

    @media only screen and (max-width:48rem) {
      .hero-banner-form {
        padding: 15px
      }
    }

    .hero-input-wrapper {
      position: relative;
      background: #fff;
      border: .5px solid #e2e2ea;
      box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
      margin-bottom: 22px
    }

    .hero-input-wrapper input {
      height: 50px;
      width: 90%;
      padding-left: 10%;
      border: 0
    }

    @media only screen and (max-width:48rem) {
      .hero-input-wrapper input {
        height: 40px;
        width: 84%;
        padding-left: 15%
      }
    }

    .hero-banner-trial-button {
      display: flex;
      align-items: flex-end
    }

    .hero-banner-trial-button .spot {
      margin: 0 0 0 15px
    }

    @media only screen and (max-width:68.75rem) {
      .hero-banner-trial-button .spot {
        display: block;
        margin-top: 10px
      }
    }

    @media only screen and (max-width:48rem) {
      .hero-banner-trial-button .spot {
        font-size: 11px;
        margin: 0 0 0 10px
      }
    }

    .stars-wrapper span {
      display: inline-block
    }

    .stars-wrapper .star {
      background-position: -135px -174px;
      width: 20px;
      height: 18px
    }

    .stars-wrapper .half-star {
      background-position: -170px -174px;
      width: 20px;
      height: 18px
    }

    .android-section {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 3;
      background: #fff;
      box-shadow: 0 17px 39px rgba(0, 0, 0, .05)
    }

    @media only screen and (max-width:48rem) {
      .android-section {
        width: 100%
      }
    }

    .android-image {
      width: 79%;
      height: 410px;
      background-position: 50% 100%;
      background-size: cover
    }

    @media only screen and (max-width:90rem) {
      .android-image {
        width: 71%
      }
    }

    @media only screen and (max-width:48rem) {
      .android-image {
        width: 100%;
        height: 252px;
        background-position: 100% 100%;
        background-size: contain
      }
    }

    .android-contents {
      padding: 50px 25px 20px 36px
    }

    @media only screen and (max-width:68.75rem) {
      .android-contents {
        padding: 18px 23px
      }
    }

    @media only screen and (max-width:48rem) {
      .android-contents {
        padding: 16px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly
      }
    }

    .android-contents h2 {
      line-height: 46px;
      letter-spacing: .2px;
      padding: 0;
      margin-bottom: 20px
    }

    @media only screen and (max-width:68.75rem) {
      .android-contents h2 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 10px
      }
    }

    @media only screen and (max-width:49.125rem) {
      .android-contents h2 {
        font-size: 20px
      }
    }

    .android-contents p {
      margin-bottom: 25px;
      line-height: 21px
    }

    @media only screen and (max-width:68.75rem) {
      .android-contents p {
        margin-bottom: 10px
      }
    }

    @media only screen and (max-width:49.125rem) {
      .android-contents p {
        font-size: 10px
      }
    }

    .stars-content-wrapper {
      display: flex;
      align-items: center;
      margin-top: 24px
    }

    @media only screen and (max-width:48rem) {
      .stars-content-wrapper {
        margin-bottom: 10px
      }
    }

    .stars-content-wrapper .stars-wrapper {
      margin-right: 20px;
      display: flex
    }

    .rating-content b {
      font-weight: 700
    }

    .teachercam-section {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 3;
      background: #fff;
      box-shadow: 0 17px 39px rgba(0, 0, 0, .05)
    }

    @media only screen and (max-width:48rem) {
      .teachercam-section {
        width: 100%
      }
    }

    .teachercam-image {
       width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      position: relative
    }

    @media only screen and (max-width:90rem) {
      .teachercam-image {
        width: 100%
      }
    }

    @media only screen and (max-width:48rem) {
      .teachercam-image {
        width: 100%;
        height: 252px;
        background-position: 100% 100%;
        background-size: contain
      }
    }

    .teachercam-image .play-button {
      position: absolute;
      background-color: #fff;
      border: 0 solid #ffdfe7;
      border-radius: 9999px;
      cursor: pointer;
      transition: border-width .3s ease
    }

    .teachercam-image .play-button:hover {
      border: 2px solid #ffdfe7
    }

    .music-mt-5 {
      margin-top: 5%
    }

    .teachercam-contents {
      padding: 24px 40px 21px
    }

    @media only screen and (max-width:68.75rem) {
      .teachercam-contents {
        padding: 18px 23px
      }
    }

    @media only screen and (max-width:48rem) {
      .teachercam-contents {
        padding: 16px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly
      }
    }

    .teachercam-contents h2 {
      line-height: 2.5rem;
      letter-spacing: .2px;
      padding: 0;
      margin-bottom: 16px;
      font-size: 2.1rem
    }

    @media only screen and (max-width:68.75rem) {
      .teachercam-contents h2 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 10px
      }
    }

    @media only screen and (max-width:49.125rem) {
      .teachercam-contents h2 {
        font-size: 20px
      }
    }

    .teachercam-contents p {
      margin-bottom: 16px;
      line-height: 21px
    }

    @media only screen and (max-width:68.75rem) {
      .teachercam-contents p {
        margin-bottom: 10px
      }
    }

    @media only screen and (max-width:49.125rem) {
      .teachercam-contents p {
        font-size: 10px
      }
    }

    .teachercam-contents h3 {
      margin-bottom: 25px;
      line-height: 23px;
      font-size: 1rem
    }
/*  */

    .app-learn-content h4 {
      margin-bottom: 34px;
      font-weight: 700
    }

    

    .featured-card {
      width: 360px;
      min-width: 360px;
      display: inline-block;
      margin: 0 10px
    }

    @media only screen and (max-width:73.75rem) {
      .featured-card {
        min-width: 280px
      }
    }

    @media only screen and (max-width:50rem) {
      .featured-card {
        min-width: 230px
      }
    }

    .featured-atricles-section {
      margin-top: 100px;
      margin-bottom: 100px;
      overflow: hidden
    }

    .featured-atricles-section h2 {
      margin-bottom: 47px
    }

    @media only screen and (max-width:48rem) {
      .featured-atricles-section {
        margin: 50px 0
      }
    }

    .featured-atricles-section .submit-btn {
      margin-right: auto
    }

    .pb-40 {
      padding-bottom: 40px
    }

    .certified-button {
      display: flex;
      justify-content: center
    }

    .featured-image-wrapper {
      position: relative;
      padding-bottom: 69.6%
    }

    .featured-contents {
      position: relative;
      padding: 20px 39px;
      background: #fff;
      box-shadow: 0 17px 39px rgba(0, 0, 0, .05);
      min-height: 172px;
      display: flex;
      flex-direction: column;
      justify-content: space-around
    }

    @media only screen and (max-width:62rem) {
      .featured-contents {
        padding: 15px
      }
    }

    @media only screen and (max-width:48rem) {
      .featured-contents {
        min-height: 110px
      }
    }

    .featured-contents:hover .featured-description {
      height: 130px;
      width: 20vw;
      white-space: break-spaces;
      transition: height .3s ease
    }

    .featured-contents .description {
      line-height: 1.45rem !important;
      white-space: normal;
      margin: 1rem 0
    }

    .featured-contents .featured-adv,
    .featured-contents .featured-beg,
    .featured-contents .featured-int,
    .featured-contents .featured-pro,
    .featured-contents h4 {
      margin-bottom: 7px
    }

    .featured-contents h5 {
      font-weight: 400
    }

    .featured-profile {
      width: 114px;
      position: absolute;
      top: -42px;
      right: 10px
    }

    .featured-atricles__bottom {
      display: flex;
      align-items: center;
      justify-content: center
    }

    
    


    .student-projects-card {
      width: 360px;
      min-width: 360px;
      display: inline-block;
      margin: 0 10px;
      position: relative
    }

    @media only screen and (max-width:73.75rem) {
      .student-projects-card {
        min-width: 280px
      }
    }

    @media only screen and (max-width:50rem) {
      .student-projects-card {
        min-width: 230px
      }
    }

    .student-projects-card:hover .student-projects-description {
      z-index: 1000;
      height: 70px;
      white-space: break-spaces;
      transition: height .3s ease
    }

    .student-projects-atricles-section {
      margin-top: 100px;
      overflow: hidden
    }

    .student-projects-atricles-section h2 {
      margin-bottom: 47px
    }

    @media only screen and (max-width:48rem) {
      .student-projects-atricles-section {
        margin: 50px 0
      }
    }

    .student-projects-image-wrapper {
      position: relative;
      padding-bottom: 63.8%
    }

    .student-projects-contents {
      min-height: 140px;
      position: absolute;
      top: 100%;
      padding: 20px 39px;
      background: #fff;
      box-shadow: 0 17px 39px rgba(0, 0, 0, .05);
      color: #36b37e
    }

    @media only screen and (max-width:48rem) {
      .student-projects-contents {
        padding: 20px 15px
      }
    }

    .student-projects-contents .student-projects-adv,
    .student-projects-contents .student-projects-beg,
    .student-projects-contents .student-projects-int,
    .student-projects-contents .student-projects-pro {
      margin-bottom: 7px
    }

    .student-projects-contents h4 {
      margin-bottom: 7px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: .2px;
      color: #183b56
    }

    .student-projects-contents h5 {
      font-weight: 400
    }

    .student-projects-description {
      height: 0;
      overflow: hidden;
      margin-bottom: 25px;
      transition: height .3s ease;
      color: #959ead;
      font-weight: 400
    }

    .student-projects-profile {
      width: 114px;
      position: absolute;
      top: -42px;
      right: 30px
    }

    .marquee {
      transform: translateZ(0);
      width: 1400px;
      -webkit-animation: c 40s linear infinite;
      animation: c 40s linear infinite
    }

    .marquee:hover {
      -webkit-animation-play-state: paused;
      animation-play-state: paused
    }

    @-webkit-keyframes c {
      to {
        transform: translate3d(-100%, 0, 0)
      }
    }

    @keyframes c {
      to {
        transform: translate3d(-100%, 0, 0)
      }
    }

    input,
    select {
      font-size: 1.125rem
    }

    h1 {
      font-size: 3rem;
      line-height: 3.5625rem
    }

    h2 {
      font-size: 2.25rem;
      line-height: 3rem
    }

    h3 {
      font-size: 2rem;
      line-height: 2.25rem
    }

    h4 {
      font-size: 1.5rem;
      line-height: 2rem
    }

    h5 {
      font-size: 1.25rem
    }

    h5,
    h6 {
      line-height: 1.5rem
    }

    h6 {
      font-size: 1.125rem
    }

    .curriculum__tabs-content .plan_cont .plan .plan_desc .content,
    .font18 {
      line-height: 1.4375rem
    }

    .font20 {
      font-size: 1.25rem;
      line-height: 1.625rem
    }

    .featured-contents .description,
    .font16 {
      font-size: 1rem;
      line-height: 1.125rem
    }

