/*   */

@media (min-width: 1400px) {
  .float-xxl-left {
    float: left !important;
  }
  .float-xxl-right {
    float: right !important;
  }
  .float-xxl-none {
    float: none !important;
  }
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-inline {
    display: inline !important;
  }
  .d-xxl-inline-block {
    display: inline-block !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-table {
    display: table !important;
  }
  .d-xxl-table-row {
    display: table-row !important;
  }
  .d-xxl-table-cell {
    display: table-cell !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-inline-flex {
    display: inline-flex !important;
  }
  .flex-xxl-fill {
    flex: 1 1 auto !important;
  }
  .flex-xxl-row {
    flex-direction: row !important;
  }
  .flex-xxl-column {
    flex-direction: column !important;
  }
  .flex-xxl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xxl-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-xxl-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-xxl-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-xxl-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-xxl-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-xxl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xxl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xxl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-xxl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xxl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xxl-center {
    justify-content: center !important;
  }
  .justify-content-xxl-between {
    justify-content: space-between !important;
  }
  .justify-content-xxl-around {
    justify-content: space-around !important;
  }
  .justify-content-xxl-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-xxl-start {
    align-items: flex-start !important;
  }
  .align-items-xxl-end {
    align-items: flex-end !important;
  }
  .align-items-xxl-center {
    align-items: center !important;
  }
  .align-items-xxl-baseline {
    align-items: baseline !important;
  }
  .align-items-xxl-stretch {
    align-items: stretch !important;
  }
  .align-content-xxl-start {
    align-content: flex-start !important;
  }
  .align-content-xxl-end {
    align-content: flex-end !important;
  }
  .align-content-xxl-center {
    align-content: center !important;
  }
  .align-content-xxl-between {
    align-content: space-between !important;
  }
  .align-content-xxl-around {
    align-content: space-around !important;
  }
  .align-content-xxl-stretch {
    align-content: stretch !important;
  }
  .align-self-xxl-auto {
    align-self: auto !important;
  }
  .align-self-xxl-start {
    align-self: flex-start !important;
  }
  .align-self-xxl-end {
    align-self: flex-end !important;
  }
  .align-self-xxl-center {
    align-self: center !important;
  }
  .align-self-xxl-baseline {
    align-self: baseline !important;
  }
  .align-self-xxl-stretch {
    align-self: stretch !important;
  }
  .order-xxl-first {
    order: -1 !important;
  }
  .order-xxl-0 {
    order: 0 !important;
  }
  .order-xxl-1 {
    order: 1 !important;
  }
  .order-xxl-2 {
    order: 2 !important;
  }
  .order-xxl-3 {
    order: 3 !important;
  }
  .order-xxl-4 {
    order: 4 !important;
  }
  .order-xxl-5 {
    order: 5 !important;
  }
  .order-xxl-last {
    order: 6 !important;
  }
  .m-xxl-0 {
    margin: 0 !important;
  }
  .m-xxl-1 {
    margin: 0.25rem !important;
  }
  .m-xxl-2 {
    margin: 0.5rem !important;
  }
  .m-xxl-3 {
    margin: 1rem !important;
  }
  .m-xxl-4 {
    margin: 1.5rem !important;
  }
  .m-xxl-5 {
    margin: 3rem !important;
  }
  .m-xxl-auto {
    margin: auto !important;
  }
  .mx-xxl-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mx-xxl-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
  }
  .mx-xxl-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .mx-xxl-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .mx-xxl-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  .mx-xxl-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .mx-xxl-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .my-xxl-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  .my-xxl-1 {
    margin-bottom: 0.25rem !important;
    margin-top: 0.25rem !important;
  }
  .my-xxl-2 {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
  }
  .my-xxl-3 {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
  .my-xxl-4 {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
  }
  .my-xxl-5 {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
  }
  .my-xxl-auto {
    margin-bottom: auto !important;
    margin-top: auto !important;
  }
  .mt-xxl-0 {
    margin-top: 0 !important;
  }
  .mt-xxl-1 {
    margin-top: 0.25rem !important;
  }
  .mt-xxl-2 {
    margin-top: 0.5rem !important;
  }
  .mt-xxl-3 {
    margin-top: 1rem !important;
  }
  .mt-xxl-4 {
    margin-top: 1.5rem !important;
  }
  .mt-xxl-5 {
    margin-top: 3rem !important;
  }
  .mt-xxl-auto {
    margin-top: auto !important;
  }
  .mr-xxl-0 {
    margin-right: 0 !important;
  }
  .mr-xxl-1 {
    margin-right: 0.25rem !important;
  }
  .mr-xxl-2 {
    margin-right: 0.5rem !important;
  }
  .mr-xxl-3 {
    margin-right: 1rem !important;
  }
  .mr-xxl-4 {
    margin-right: 1.5rem !important;
  }
  .mr-xxl-5 {
    margin-right: 3rem !important;
  }
  .mr-xxl-auto {
    margin-right: auto !important;
  }
  .mb-xxl-0 {
    margin-bottom: 0 !important;
  }
  .mb-xxl-1 {
    margin-bottom: 0.25rem !important;
  }
  .mb-xxl-2 {
    margin-bottom: 0.5rem !important;
  }
  .mb-xxl-3 {
    margin-bottom: 1rem !important;
  }
  .mb-xxl-4 {
    margin-bottom: 1.5rem !important;
  }
  .mb-xxl-5 {
    margin-bottom: 3rem !important;
  }
  .mb-xxl-auto {
    margin-bottom: auto !important;
  }
  .ml-xxl-0 {
    margin-left: 0 !important;
  }
  .ml-xxl-1 {
    margin-left: 0.25rem !important;
  }
  .ml-xxl-2 {
    margin-left: 0.5rem !important;
  }
  .ml-xxl-3 {
    margin-left: 1rem !important;
  }
  .ml-xxl-4 {
    margin-left: 1.5rem !important;
  }
  .ml-xxl-5 {
    margin-left: 3rem !important;
  }
  .ml-xxl-auto {
    margin-left: auto !important;
  }
  .p-xxl-0 {
    padding: 0 !important;
  }
  .p-xxl-1 {
    padding: 0.25rem !important;
  }
  .p-xxl-2 {
    padding: 0.5rem !important;
  }
  .p-xxl-3 {
    padding: 1rem !important;
  }
  .p-xxl-4 {
    padding: 1.5rem !important;
  }
  .p-xxl-5 {
    padding: 3rem !important;
  }
  .px-xxl-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .px-xxl-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
  .px-xxl-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .px-xxl-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .px-xxl-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .px-xxl-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .py-xxl-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .py-xxl-1 {
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important;
  }
  .py-xxl-2 {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }
  .py-xxl-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .py-xxl-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
  }
  .py-xxl-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  .pt-xxl-0 {
    padding-top: 0 !important;
  }
  .pt-xxl-1 {
    padding-top: 0.25rem !important;
  }
  .pt-xxl-2 {
    padding-top: 0.5rem !important;
  }
  .pt-xxl-3 {
    padding-top: 1rem !important;
  }
  .pt-xxl-4 {
    padding-top: 1.5rem !important;
  }
  .pt-xxl-5 {
    padding-top: 3rem !important;
  }
  .pr-xxl-0 {
    padding-right: 0 !important;
  }
  .pr-xxl-1 {
    padding-right: 0.25rem !important;
  }
  .pr-xxl-2 {
    padding-right: 0.5rem !important;
  }
  .pr-xxl-3 {
    padding-right: 1rem !important;
  }
  .pr-xxl-4 {
    padding-right: 1.5rem !important;
  }
  .pr-xxl-5 {
    padding-right: 3rem !important;
  }
  .pb-xxl-0 {
    padding-bottom: 0 !important;
  }
  .pb-xxl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pb-xxl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pb-xxl-3 {
    padding-bottom: 1rem !important;
  }
  .pb-xxl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pb-xxl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xxl-0 {
    padding-left: 0 !important;
  }
  .pl-xxl-1 {
    padding-left: 0.25rem !important;
  }
  .pl-xxl-2 {
    padding-left: 0.5rem !important;
  }
  .pl-xxl-3 {
    padding-left: 1rem !important;
  }
  .pl-xxl-4 {
    padding-left: 1.5rem !important;
  }
  .pl-xxl-5 {
    padding-left: 3rem !important;
  }
  .text-xxl-left {
    text-align: left !important;
  }
  .text-xxl-right {
    text-align: right !important;
  }
  .text-xxl-center {
    text-align: center !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: flex !important;
  }
  .d-print-inline-flex {
    display: inline-flex !important;
  }
}

body,
html {
  font-family: Nunito, sans-serif !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

:root {
  --cd-container-width: 87.5%;
  --primary: #4285f4;
  --primary-gradient: radial-gradient(60% 121%, #45cafc 0, #303f9f 100%);
  --primary-gradient-2: radial-gradient(60% 121%, #45cafc 0, #09f 100%);
  --success: #00c851;
  --success-gradient: linear-gradient(180deg, #00b586, #00cd88);
  --danger: #f66;
  --danger-gradient: radial-gradient(60% 121%, #d84d5e 0, #d94d5f 100%);
  --white: #fff;
  --black: #000;
  --text: #404040;
  --muted-text: #999;
  --theme: #f9a32a;
  --theme-gradient: linear-gradient(180deg, #fff, #fff2e1);
  --theme-gradient-2: radial-gradient(60% 121%, #ffb88c 0, #de6262 100%);
  --applink-bg: #000000aa;
  --applink-bg-hover: #000000cc;
  --transparent: #00000000;
  --bg-1: url(/static/media/bg_1.bb46206d556cc614896c.jpg);
  --bg-2: url(/static/media/bg_2.a617c16e33713b46c012.jpg);
  --bg-footer: url(/static/media/footer_bg.288e9a97cd55a374d061.jpg);
  --bg-contact: url(/static/media/contact_bg.4b8f5ce398b88b21eaa5.jpg);
  --french-bg: url(/static/media/french_bg.26b6d25b301e631495d7.png);
  --bg-card: url(/static/media/live_class_bg.d4b4a73907a255971426.svg);
  --bg-english: url(/static/media/english_bg.6262f8858b812777518a.png);
  --bg-ielts: url(/static/media/IELTS-banner.29b461ed7661ccdecc2f.png);
  --demobg: url(/static/media/demovid-bg.b9872de02e98bbde7d2c.png);
  --demophysics: url(/static/media/demovid-physics-bg.a6b484d64ee59d10dfcb.png);
  --demochem: url(/static/media/demovid-chem-bg.1a5bbaa8d148c3ba9a1e.png);
  --demobio: url(/static/media/demovid-bio-bg.f7070344dd544a705d09.png);
  --demomaths: url(/static/media/demovid-maths-bg.2afd8e7a065c096c3c88.png);
  --shadow: 0 0px 5rem 0 #b3b3b37d;
  --shadow-dark: 0 0.125rem 0.25rem hsla(0, 0%, 100%, 0.082) !important;
  --shadow-light: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.082) !important;
  --shadow-bg-light: 0 8px 20px 0 rgba(218, 224, 235, 0.6) !important;
  --shadow-bg-dark: 0 8px 20px 0 rgba(37, 31, 20, 0.5) !important;
  --transition: 0.4s ease;
}

.zoom img,
.zoom video {
  transition: all 0.2s linear;
}

.zoom:hover img,
.zoom:hover video {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cd-text {
  color: #404040;
  color: var(--text);
}

.bg-theme {
  background-color: #f9a32a10;
}

.cursor {
  cursor: auto;
}

.cursor:hover {
  cursor: pointer;
}

.cd-primary-gradient {
  background: radial-gradient(60% 121%, #45cafc 0, #303f9f 100%) !important;
  background: var(--primary-gradient) !important;
}

.cd-primary-gradient-2 {
  background: radial-gradient(60% 121%, #45cafc 0, #09f 100%) !important;
  background: var(--primary-gradient-2) !important;
  color: #fff;
  color: var(--white);
}

.white-bg {
  background: #fff !important;
  background: var(--white) !important;
  background-color: #fff !important;
  background-color: var(--white) !important;
}

.cd-success-gradient {
  background: linear-gradient(180deg, #00b586, #00cd88);
  background: var(--success-gradient);
}

.cd-theme-gradient {
  background: linear-gradient(180deg, #fff, #fff2e1);
  background: var(--theme-gradient);
}

.cd-theme-gradient-2 {
  background: radial-gradient(60% 121%, #ffb88c 0, #de6262 100%);
  background: var(--theme-gradient-2);
}

.cd-danger-gradient {
  background: radial-gradient(60% 121%, #d84d5e 0, #d94d5f 100%);
  background: var(--danger-gradient);
}

.cd-blog-gradient {
  background-image: radial-gradient(60% 121%, #45cafc 0, #303f9f 100%);
  background-image: var(--primary-gradient);
}

.cd-round-edge {
  border-radius: 2rem;
}

.cd-round-edge-md {
  border-radius: 1.4rem;
}

.cd-round-edge-sm {
  border-radius: 0.6rem;
}

.mdb-blue-gradient {
  background: linear-gradient(40deg, #303f9f, #45cafc) !important;
}

.mdb-peach-gradient {
  background: linear-gradient(40deg, #fc6262, #ffd86f) !important;
}

.cd-depth {
  box-shadow: 0 18px 36px 0 #d5d7e17d;
}

.contact-bg {
  background: url(/static/media/contact_bg.4b8f5ce398b88b21eaa5.jpg);
  background: var(--bg-contact);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.cd-text-decoration-none {
  text-decoration: none !important;
}

.demovid-bg {
  background: url(/static/media/demovid-bg.b9872de02e98bbde7d2c.png) no-repeat;
  background: var(--demobg) no-repeat;
  background-attachment: fixed;
  background-position-x: left;
  background-position-y: center;
  background-size: cover;
}

.demovid-physics-bg {
  background: url(/static/media/demovid-physics-bg.a6b484d64ee59d10dfcb.png)
    no-repeat;
  background: var(--demophysics) no-repeat;
  background-attachment: fixed;
  background-position-x: left;
  background-position-y: center;
  background-size: cover;
}

.demovid-chem-bg {
  background: url(/static/media/demovid-chem-bg.1a5bbaa8d148c3ba9a1e.png)
    no-repeat;
  background: var(--demochem) no-repeat;
  background-attachment: fixed;
  background-position-x: left;
  background-position-y: center;
  background-size: cover;
}

.demovid-data {
  padding-bottom: 2.5rem;
  padding-top: 5rem;
}

.demovid-data .card {
  border: 0;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.4s;
}

.class10-demo-content .card:first-child {
  height: 100%;
}

.demovid-data .card:hover {
  box-shadow: 0 0 5rem 0 #b3b3b37d;
  box-shadow: var(--shadow);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  transition: 0.4s;
}

.demo-content a .row {
  margin-bottom: 1.5rem;
  transition: 0.4s;
}

.demo-content a .row:hover {
  color: #ff5722;
  transition: 0.4s;
}

.ant-popover-inner {
  background-color: #343a40 !important;
  border-radius: 0.25rem !important;
}

.ant-popover-inner-content {
  border-radius: 0.25rem !important;
  box-shadow: 0 0 5rem 0 #b3b3b37d;
  box-shadow: var(--shadow);
  padding: 0 !important;
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  border-bottom-color: #343a40;
  border-left-color: #343a40;
  border-right-color: #343a40;
}

.demo-content a:last-child .row {
  margin-bottom: 0;
}

.video-class-value {
  color: #ff5722;
  font-size: 28px;
  font-weight: 700;
}

.demovid-btn {
  height: 5vh;
}

.ytp-pause-overlay {
  display: none !important;
}

.bg-1 {
  background: url(/static/media/bg_1.bb46206d556cc614896c.jpg);
  background: var(--bg-1);
  background-attachment: fixed;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-2 {
  background: url(/static/media/bg_2.a617c16e33713b46c012.jpg);
  background: var(--bg-2);
  background-attachment: fixed;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-french {
  background: url(/static/media/french_bg.26b6d25b301e631495d7.png) no-repeat;
  background: var(--french-bg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  height: 100%;
  place-items: center;
}

.banner-english {
  background: url(/static/media/english_bg.6262f8858b812777518a.png) no-repeat;
  background: var(--bg-english) no-repeat;
  background-position-x: center;
  background-size: cover;
}

.banner-ielts {
  background: url(/static/media/IELTS-banner.29b461ed7661ccdecc2f.png) no-repeat;
  background: var(--bg-ielts) no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
}

.backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-weight: 700;
}

#biologydemo .nav-pills .nav-link.active,
#chemistrydemo .nav-pills .nav-link.active,
#mathsdemo .nav-pills .nav-link.active,
#physicsdemo .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f9a32a;
  background-color: var(--theme);
  color: #fff;
}

.ant-modal {
  width: 600px !important;
}

.ant-image-preview-wrap::-webkit-scrollbar,
.ant-modal-wrap::-webkit-scrollbar {
  display: none !important;
}

.ant-modal-content {
  background: #fff;
  background: var(--white);
  border-radius: 0.8rem !important;
}

.ant-modal-header {
  background-color: initial;
  border-bottom: none;
  border-radius: 0.8rem;
}

.ant-modal-footer {
  border-radius: 0.8rem;
  border-top: none;
}

.ant-modal-title {
  font-size: 24px;
  font-weight: 700;
}

.ant-modal-close:focus {
  outline: none;
}

.w-cd-75 {
  width: 75%;
}

.cd-red-text {
  background-image: radial-gradient(60% 121%, #d84d5e 0, #d94d5f 100%);
  background-image: var(--danger-gradient);
}

.cd-green-text,
.cd-red-text {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.cd-green-text {
  background-image: linear-gradient(180deg, #00b586, #00cd88);
  background-image: var(--success-gradient);
}

.cd-blue-text {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: radial-gradient(60% 121%, #45cafc 0, #09f 100%);
  background-image: var(--primary-gradient-2);
}

.cd-bg-primary {
  background-color: #4285f4 !important;
  background-color: var(--primary) !important;
}

.cd-bg-primary,
.cd-bg-success {
  color: #fff !important;
  color: var(--white) !important;
}

.cd-bg-success {
  background-color: #00c851 !important;
  background-color: var(--success) !important;
}

.cd-bg-danger {
  background-color: #f66 !important;
  background-color: var(--danger) !important;
  color: #fff !important;
  color: var(--white) !important;
}

.cd-container {
  margin: auto;
  max-width: 1680px;
  width: 87.5%;
  width: var(--cd-container-width);
}

.cd-pill {
  border-radius: 50rem !important;
}

.cd-btn-success {
  background-color: #00c851 !important;
  background-color: var(--success) !important;
}

.cd-btn-primary,
.cd-btn-success {
  color: #fff !important;
  color: var(--white) !important;
  margin: 0 !important;
  padding: 0.2rem 1rem !important;
}

.cd-btn-primary {
  background-color: #4285f4 !important;
  background-color: var(--primary) !important;
}

.cd-btn-theme {
  background-color: #f9a32a !important;
  background-color: var(--theme) !important;
}

.cd-btn-danger,
.cd-btn-theme {
  color: #fff !important;
  color: var(--white) !important;
  margin: 0 !important;
  padding: 0.2rem 1rem !important;
}

.cd-btn-danger {
  background-color: #f66 !important;
  background-color: var(--danger) !important;
}

.cd-btn-danger:focus,
.cd-btn-primary:focus,
.cd-btn-success:focus,
.cd-btn-theme:focus {
  box-shadow: 0 18px 36px 0 #d5d7e17d;
  outline: none;
}

.btn-md {
  font-size: 0.8rem !important;
  padding: 0.7rem 1.6rem !important;
}

.btn-sm {
  font-size: 0.7rem !important;
  padding: 0.5rem 1.6rem !important;
}

.letter-space {
  letter-spacing: 1px !important;
}
.banner-video {
  border: 1px solid #fff;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 18px 36px 0 #d5d7e17d;
}

.text-cd-center,
.text-cd-justify {
  text-align: left;
}

.cd-data-up {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
}

.cd-data-up-x2 {
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}

.cd-form input[type="date"],
.cd-form input[type="email"],
.cd-form input[type="link"],
.cd-form input[type="number"],
.cd-form input[type="password"],
.cd-form input[type="tel"],
.cd-form input[type="text"],
.cd-form select,
.cd-form textarea {
  background: #f8f8f8;
  border: none;
  border-radius: 0 !important;
  color: #404040;
  color: var(--text);
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  width: 100%;
}



.cd-sc-img img {
  width: 100%;
}

.app-download-link a {
  background: #000000aa;
  background: var(--applink-bg);
  border-radius: 0.3rem;
  box-shadow: none;
  transition: all 0.2s linear;
  width: 160px;
}

.app-download-link a:first-child {
  margin-right: 1rem;
}



.anticon {
  vertical-align: initial;
}

.ant-drawer-close {
  display: none !important;
}

.ant-drawer-body {
  padding: 24px 0;
}


.ant-back-top-content {
  background-color: var(--primary);
  box-shadow: 0 0 50px 0 #606060;
}

.ant-back-top-icon {
  font-size: 20px;
  line-height: 30px;
}

#footer {
  background: #0063b2;
  color: var(--white);
}

.footer-data p {
  font-weight: 400;
  text-align: justify;
}

.footer-data h5 {
  color: var(--white);
  font-weight: 700;
  letter-spacing: 2px;
}

.footer-data h5,
.footer-data ul li span {
  font-size: 16px !important;
  text-transform: uppercase;
}

.footer-data ul li span {
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-data ul li a {
  color: var(--white);
  text-decoration: none;
}

.footer-data ul li span:hover {
  border-left: 3px solid var(--theme);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 6px;
  padding-left: 5px;
  transition: 0.3s;
}

.footer-data span {
  color: var(--white);
  font-weight: 400;
  text-align: justify !important;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.icon-space {
  border-radius: 999px;
  height: 40px;
  position: relative;
  width: 40px;
}

.icon-space i {
  color: var(--white);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.copyright a {
  text-decoration: none !important;
}

.cd-note {
  font-weight: 700;
  padding: 0.5rem 0.6rem;
}
