@import url('https://fonts.googleapis.com/css2?family=Alice&family=Allerta+Stencil&family=Barlow:ital@0;1&family=Hi+Melody&family=Inter:wght@400;500;600&family=Josefin+Sans:wght@600;700&family=Klee+One:wght@600&family=Lato:wght@700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700;800&family=Reggae+One&family=Work+Sans:wght@300;400;600;900&display=swap');



.enroll{
    width:2950px;
    border-radius: 10px;
    border: 2px solid #609; 
}

.pack{
    width: 104px;

color: #DEDEDE;
font-family: "Inter";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}